# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.PowerPlayV2.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Bradley\2020-2021\Semester 2\IM 389\PowerPlayV2\.idea\.idea.PowerPlayV2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
